@using _08RazorViews.Models
@{
    @model Shop
    string title = "Wellcome to razore views is Asp.Net core ";
    Shop shop = new Shop()
            {
                Id = 12,
                Name = "Akbar kiryana Stor",
                Description = "City No 1 Kiryana stro prices are very low sales are open ",
                startDate = Convert.ToDateTime("2002-10-12")
            };
    List<Shop> shops = new List<Shop>()
    {
        new Shop()
            {
                Id = 1212,
                Name = "Bata shoes",
                Description = "City No 1 Kiryana stro prices are very low sales are open ",
                startDate = Convert.ToDateTime("2002-10-12")
            },
               new Shop()
            {
                Id = 12,
                Name = "Akbar kiryana Stor",
                Description = "City No 1 Kiryana stro prices are very low sales are open ",
                startDate = Convert.ToDateTime("2002-10-12")
            },
               new Shop()
            {
                Id = 12,
                Name = "Akbar kiryana Stor",
                Description = "City No 1 Kiryana stro prices are very low sales are open ",
                startDate = Convert.ToDateTime("2002-10-12")
            },
               new Shop()
            {
                Id = 12,
                Name = "Akbar kiryana Stor",
                Description = "City No 1 Kiryana stro prices are very low sales are open ",
                startDate = Convert.ToDateTime("2002-10-12")
            },

    };

}
@{
    double? GetAge(DateTime? dob)
    {
        if(dob is not null){
            return Math.Round((DateTime.Now - dob.Value).TotalDays/365.34);
        }
        else
        {
            return null;
        }
    }
    string alertMessage = $"<script>alert('Hello this is alert:  {shops.Count} ')</script>";
}
<!Doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@title</title>
        <link href="~/birthdaycardstyle.scss" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
    </head>
    <body>
        @Html.Raw(alertMessage);
        <h1>@title </h1>
        <h3> Id : @shop.Id Name : @shop.Name  Details  @shop.Description</h3>
        <h5>The Totals age is Days </h5>
    @{
      double age=  Math.Round((DateTime.Now - shop.startDate).TotalDays/365);

    }
    @if(shop.Name != " ")
    {
        string massage = "Sorry we could not find any Shop";
        <h5>@massage</h5>
    }
    else
    {
        <h3>You Shop is Registers as : @shop.Name</h3>
    }
    <h3>@age</h3>
    @switch (age)
    {
        case 18:
            <p>You are able to Vote This Year</p>
            ;
            break;
        case <18:
            <p>You are not  able to Vote This Year</p>
            ;
            break;
        case >18:
            <p>You are senior citizen vote always</p>
            ;
            break;
    }
    @foreach(var s in shops)
    {
       
        <p> id : @s.Id Name : @s.Name</p>
    }
    @for (int i=0; i<shops.Count; i++)
    {
       @: this is The static text 
        Shop s = shops[i];
        <p> id : @s.Id Name : @s.Name Ifttah: @GetAge(s.startDate) years ago</p>
    }
    <h1>The data view </h1>
    <p class="hy">The data view is a dictionary type object .
        that is used to send the data from controller to view in the asp.net core  . 
        like we want to send some variable data in the view from controller we used the 
        dataview object that is avialble in every controller class .

    </p>
@*  <p>@ViewData["name"]</p>*@
    <h1>View Bage </h1>
    <p>The ViewBag is used for the get the data from the dataview and its not need to convert it into the type 
        we can used it as it as we declair in the controller and access the data by same name in the view by ViewBag 
        like we send a list of persons class object type and we access it in the view its necdessarty to convert it into
        the list type and stor in the variable in view but the use of the viewBag we directly used this in this </p>
@*    <p>@ViewBag.name</p>*@

    <h1>strongly type Views </h1>
    <p>We can bind the controller object or variables with view in this view </p>
  @*  <p>@Model.Name</p>*@
    <a href="/persons">Go ho page</a>
    <a href="/aslam">Go to Shared View </a>


    </body>
</html>